.godot/
bin/
obj/
BaseLibBridge/bin/
BaseLibBridge/obj/
/android/
.git/
.idea/
.vs/
*.sln.DotSettings
*.sln.DotSettings.user
publish/
Properties/
packages/
_inspect/
.editorconfig
*cs.uid
*.user
*.import
RelicTracker/
.vscode/
update_loc.py
update_missing_loc.py
lib/
